.search__widget {
  padding: 7px 15px;
  border: 1px solid #fde4e4;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  background-color: #fff;

  input {
    border: none;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
}

.sorting__widget select {
  padding: 7px 15px;
  border: 1px solid #fde4e4;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  &:focus {
    outline: none;
  }
}

@media only screen and (max-width: 768px) {
  .search__widget {
    width: 100%;
    margin-bottom: 20px;
  }

  .search__widget input {
    width: 100%;
    font-style: 0.8rem;
  }

  .sorting__widget select {
    width: 100% !important;
    font-style: 0.8rem;
  }
}
